Api.Authentication/bin/
Api.Authentication/obj/
UberSystem.Api.Customer/bin/
UberSystem.Api.Customer/obj/
UberSystem.Api.Driver/bin/
UberSystem.Api.Driver/obj/
UberSystem.Dto/bin/
UberSystem.Dto/obj/
UberSystem.Infrastructure/bin/
UberSystem.Infrastructure/obj/
UberSystem.Domain/bin/
UberSystem.Domain/obj/
UberSystem.Service/bin/
UberSystem.Service/obj/
UberSystem.Common/bin/
UberSystem.Common/obj/
GenerateData/bin/
GenerateData/obj/
.vs/


{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "AllowedHosts": "*",
    "ConnectionStrings": {
        "Default": "Data Source=DESKTOP-V5JCDV7\\LOCALHOST;Initial Catalog=UberSystemDb;User ID=sa;Password=12345;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False"
    },
    "JwtSettings": {
        "SecretKey": "your-new-256-bit-secret-key-here",
        "Issuer": "your_issuer",
        "Audience": "your_audience",
        "DurationInMinutes": 60
    },
    "SmtpSettings": {
        "Host": "smtp.gmail.com",
        "Port": 587,
        "Username": "luuphong016@gmail.com",
        "Password": "sgbw winq vhbi bhai"
    },
    "VerifyLink": "https://localhost:7012/api/authentication/verify?token="
}
